#home {
  width: 100%;
  min-height: 60vh;   
  height: auto;
  display: flex;
  align-items: center;
  padding-block: 5rem;
  position: relative;

  .scroll-icon {
    position: absolute;
    font-size: 3rem;
    color: $color5;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    animation: animateSvg 0.7s infinite linear alternate;
  }

  section {
    flex: 1;
  }

  .home-left {
    padding-left: $p;

    > h1 {
      font: 900 4rem $text1;
    }

    .typewriterpara {
      margin: 20px 0;
      height: 20px;
      letter-spacing: 5px;
    }

    .home-buttons {
      display: flex;
      gap: 4rem;
      margin: 4rem 0;

      a:first-of-type {
        background-color: $color3;
        padding: 1rem 2.5rem;
        color: $color1;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
          background-color: $color3_1;
        }
      }

      a:last-of-type {
        color: $color5;
        display: flex;
        align-items: center;
        font: 600 1.2rem $text2;
      }
    }

    aside {
      display: flex;
      gap: 50px;

      article {
        color: $color5;
        width: auto;
        background-color: $color4;
        border-radius: 50px;
        padding: 10px;
        position: relative;
      }

      p {
        font: 800 1rem $text1;
      }
    }
  }

  /* RIGHT */
  .home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 26vmax;
      height: 26vmax;
      background: $color3;
      border-radius: 50%;
      z-index: -1;
    }

    img {
      width: 22vmax;   
      height: 22vmax;
      object-fit: contain;
    }
  }
}
