#work {
    width: 100%;
    min-height: 80vh;
    height: auto;
    padding: 1rem $p;
    > h2 {
      font: 700 2rem $text2;
      width: fit-content;
      border-bottom: 1px solid $color6_1;
      margin: auto;
    }
  
    > section {
      margin-top: 2rem;
      width: 100%;
      height: 100%;
      background-color: $color5;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
  
      > article {
        width: 80%;
        height: 80%;
        padding: 30px 0px;
      }
  
      .workItem {
        overflow-y: auto;
        height: 35vmax;
        width: 90%;
        margin: auto;
        background-color: $color4;
        display: flex;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0 20px 5px $color1;
  
        > img {
          border-radius: 20px;
          width: 40%;
          object-fit: cover;
        }
  
        > aside {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          > p {
            letter-spacing: 3px;
            line-height: 180%;
            margin: 2rem;
          }
          > a {
            background-color: $color3;
            padding: 0.7rem 2rem;
            margin: 2rem;
            color: $color4;
            transition: all 0.5s;
            &:hover {
              background-color: $color3_1;
            }
          }
        }
      }
    }
  }